* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
}

main div button:first-child {
  font-size: clamp(0.7rem, 5vw, 1em);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  border-radius: 0.5rem;
  color: rgba(251, 252, 252, 255);
  padding: 0.5rem 1rem;
  background: rgba(25, 43, 161, 255);
  border: 5px ridge rgba(25, 43, 161, 255);
  cursor: pointer;
}
div aside {
  display: flex;
  justify-content: right;
  padding: 0.5rem;
  background: rgb(37, 36, 43);
  border-radius: 0.5rem;
}
div aside button:last-child {
  font-size: clamp(0.7rem, 5vw, 1em);
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: none;
  background: rgb(37, 36, 43);
}

input[type="search"] {
  font-size: clamp(0.5rem, 5vw, 0.8em);
}

div i.fa-solid {
 color: rgb(231,231,231);;
}


table {
  border-collapse: collapse;
  width: 100%;
  color: rgb(44, 44, 44);
}
table th,
table td {
  padding: 1em;
  text-align: left;
}

td i.fa-solid{
 color: rgba(25, 43, 161, 255);
}
thead tr {
  background: rgb(188, 188, 190);
  font-size: 1.15em;
  font-weight: bold;
}

tbody tr:nth-child(even) {
  background: rgb(234, 234, 234);
}
tbody:hover tr:not(:hover) {
  filter: blur(1.5px);
  transition: all 1s ease-in;
}

tbody tr td:last-child {
  display: flex;
  gap: 1rem;
  cursor: pointer;
}



a {
  text-decoration: none;
}

@media screen and (max-width: 1100px) {
  table {
    border: 2px solid rgb(44, 44, 44);
  }
  thead tr {
    display: none;
  }
  tbody tr {
    display: block;
  }
  table th,
  table td {
    padding: 0.5em;
  }

  table td {
    text-align: right;
    display: block;
    font-size: 1em;
  }

  table td::before {
    content: attr(data-desc) " ";
    float: left;
    font-weight: bold;
  }
  tbody tr td:last-child {
    display: block;
    gap: 5rem;
    cursor: pointer;
  }
  input[type="search"] {
    display: none;
  }
}
