* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Shepherdy", sans-serif;
  background: rgba(35, 39, 46, 255);
  min-height: 100vh;
}

nav {
  visibility: hidden;
}
.navToggle {
  visibility: visible;
  /* display: flex; */
  background: rgb(33, 34, 41);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  min-height: 100vh;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 1rem;
  color: rgb(243, 243, 243);
  position: absolute;
  left: 0;
}

nav ul {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  gap: 2.5rem;
  list-style: none;
}

nav ul li {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 8rem;
}

nav ul li:first-child {
  background: rgb(14, 121, 171);
  padding: 0.3rem;
  border-radius: 0.2rem;
}
nav ul li:last-child {

  position: absolute;
  left: 20px;
  bottom: 10px;
}
