* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Shepherdy", sans-serif;
  background: rgba(35, 39, 46, 255);
  min-height: 100vh;
}

nav {
  background: rgb(33, 34, 41);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  display: inline-flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 25vh;
  padding-right:1rem;
  padding-left: 1rem;
  padding-top: 1rem;
  /* padding: 2rem; */
  color: rgb(243, 243, 243);
  position: absolute;

  left: 0;
}

nav ul {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  gap: 1rem;
  list-style: none;
}

nav ul li {
  display: flex;
  justify-content: left;
  align-items: center;
}

nav ul li:first-child {
  background: rgb(14, 121, 171);
  padding: 0.3rem;
  border-radius: 0.2rem;
}
