nav {
  min-width: 15vw;
  min-height: 100vh;
  background: rgb(37, 36, 43);
}

/* Navigation List */
nav ul {
  list-style: none;
  min-width: inherit;
  min-height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

nav ul a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(251, 252, 252, 255);
}

nav ul li:first-child {
  color: rgba(251, 252, 252, 255);
  background: rgba(25, 43, 161, 255);
  padding: 0.5rem;
}

span.icons {
  font-size: clamp(1.5rem, 5vw, 2rem);
  color: rgba(251, 252, 252, 255);
}

/* Mobile Screen Size */
@media screen and (max-width: 768px) {
  nav {
    display: none;
  }

  main ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
  }
nav ul{
  min-height: 35vh;
}
  .navToggle {
    position: fixed;
    top: 6rem;
    list-style: none;
    min-width: 30vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    z-index: 5;
    background: rgb(37, 36, 43);
  }
}
