* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
}

/* header {
  background: rgb(37, 36, 43);
  min-height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(251, 252, 252, 255);
  padding: 1rem;
} */

main {
  padding: 0.2rem 0.5rem;
  min-width: 85vw;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background: rgba(251, 252, 252, 255);
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  display: flex;
  padding: 0.5rem;
  background: rgb(37, 36, 43);
}

div button {
  font-size: clamp(0.7rem, 5vw, 1em);
  padding: 0.5rem 1rem;
  cursor: pointer;
}

section.tableWrapper div {
  min-height: 50vh;
  min-width: 85vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.tableWrapper div span {
  font-size: clamp(5rem, 10vw, 7rem);
}

input[type="search"] {
  font-size: clamp(0.7rem, 5vw, 1em);
  padding: 0.5rem 1rem;
  width: clamp(10rem, 25vw, 20rem);
}

table {
  border-collapse: collapse;
  width: 100%;
  color: rgb(44, 44, 44);
}
table th,
table td {
  padding: 1em;
  text-align: left;
  color: black;
}
thead tr {
  background: rgb(188, 188, 190);
  font-size: 1.15em;
  font-weight: bold;
}

tbody tr:nth-child(even) {
  background: rgb(234, 234, 234);
}
tbody:hover tr:not(:hover) {
  filter: blur(1.5px);
  transition: all 1s ease-in;
}

tbody tr td:last-child {
  display: flex;
  gap: 1rem;
  cursor: pointer;
}

i:last-child {
  color: rgba(25, 43, 161, 255);
}

a {
  text-decoration: none;
}

@media screen and (max-width: 1150px) {
  table {
    border: 2px solid rgb(44, 44, 44);
  }
  thead tr {
    display: none;
  }
  tbody tr {
    display: block;
  }
  table th,
  table td {
    padding: 0.5em;
  }

  table td {
    text-align: right;
    display: block;
    font-size: 1em;
  }

  table td::before {
    content: attr(data-desc) " ";
    float: left;
    font-weight: bold;
  }
  tbody tr td:last-child {
    display: block;
    gap: 5rem;
    cursor: pointer;
  }
}
